{% extends 'base.html' %}



{% block content %}
<h1>Edit Expense</h1>
<div class="container mt-4">
<div class="row">
  <div class="col-md-10">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'expenses:expense' %}">Expenses</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit Expenses</li>
      </ol>
    </nav>
  </div>
  <div class="col-md-2">
   <a href="{% url 'expenses:expense_delete' expense.id %}" class="btn btn-danger btn-sm">Delete</a>

  </div>
</div>





<div class="card">
  <form action="{% url 'expenses:expense_edit' expense.id %}" method="post">
    {% include 'partials/messages.html' %}

    {% csrf_token %}
  <div class="card-body">
  <div class="form-group">
    <label class="my-2" for="">Amount</label>
    <input class="form-control form-control-sm" type="number" name="amount" value="{{values.amount}}">

  </div>
  <div class="form-group">
    <label class="my-2" for="">Description</label>
    <input class="form-control form-control-sm" type="text" name="description" value="{{values.description}}">

  </div>
  <div class="form-group">
    <label class="my-2" for="">Category</label>
    <select class="form-control from-select"  name="category" id="">
      <option name="category" value="{{values.category}}">{{values.category}}</option>
      {% for category in categories %}
      <option name="category" value="{{category.name}}">{{category.name}}</option>
      {% endfor %}
    </select>

  </div>
  <div class="form-group">
    <label class="my-2" for="">Date of Expense</label>
    <input class="form-control form-control-sm" type="date" name="expense_date" value="{{values.date |date:'Y-m-d' }}">

  </div>

  </div>
  <input type="submit" value="Save"class="btn btn-primary btn-sm mb-3 ms-3">
</form>
</div>

</div>
{% endblock %}