{% extends 'base_auth.html' %}

{% load static %}

{% load socialaccount %}


{% block content %} 
<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
<div class="card mt-5 p-4">
<div class="card-body">
    <div class="card-title text-center py-3">
    <h4 class="text-primary">Set your new Password</h4>
</div>
<form action="{% url 'reset-user-password' uidb64 token %}" method="post">
    <div class="form-group">

    {% csrf_token %}
    
    {% include 'partials/messages.html' %}
<input type="password" class="form-control form-control-sm pt-3 my-2" placeholder="Password" name="password" id="passwordField">
<input type="password" class="form-control form-control-sm pt-3 my-2" placeholder="Confirm Password" name="password2">
<div> <small class="text-dark showPassToggle text-uppercase" role="button">show</small></div>
</div>
<div class="d-grid gap-2">
    <input type="submit" value="Submit" class="btn btn-block btn-primary mt-2 submit-btn"> 
  </div>
    
</form>
        
</div>
<span>No Account?
    <a href="{% url 'register' %}">Register</a>
</span>
</div>
    </div>
    <div class="col-md-4">

    </div>
</div>

<script src="{% static '/js/register.js' %}"></script>


{% endblock %}